<section class="users">
    <%= render partial: "user_posts", locals: { post: @posts.first.user } %>
    <% @posts.each do |post|  %>
    <div>
        <%= render partial: "post_cards", locals: { post: post } %> 
    </div>
    <% end %>

</section>
