/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.user-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  flex: 20%;
}

.user-section-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px;
  border-radius: 10px;
  width: 60rem;
}

.users {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  row-gap: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 20%;
  row-gap: 20px;
}

.number-posts {
  padding: 10px;
  text-align: right;
}

.user-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  background-color: grey;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #f5f5f5;
  color: black;
}

.comment__like {
  display: flex;
  column-gap: 30px;
  justify-content: flex-end;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.copy-right {
  text-align: center;
}

.comment-owner {
  display: flex;
  flex-direction: column;
}

.commets-container {
  padding: 10px;
}

input[type="text"],
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

.small-label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  font: 1.25rem sans-serif;
  margin-bottom: 0.5rem;
}